# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
# Django #
*.log
*.pot
*.pyc
310.pyc
__pycache__
db.sqlite3

 
# Backup files #
*.bak
*.py[cod]
*$py.class

# Distribution / packaging #

.Python build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
*.manifest

# Compiled source #

*.com
*.class
*.dll
*.exe
*.o
*.so
*.sage.py 

# Directory users #

adcy/
